<div class="container">
    <h1>Life Quotes</h1>
    <hr>
    <h3>Your quotes</h3>
    <ul>
        <div class="card card-body" *ngFor='let quote of quotes'>
            <p> {{quote.name}}.</p>
            <p>--{{ quote.description}}</p>

            <div>
                <button (click)="toggle()" id="btn">{{ details }}</button>
            </div>

            <app-quote-details *ngIf="show" [quote]='quote' (isDelete)='completeQuote($event,i)'></app-quote-details>


        </div>
    </ul>

</div>