.del {
    padding-bottom: 15px;
}

.styl {
    content: '';
    display: block;
    margin-top: 2px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff
}

h1,
h3 {
    text-align: center;
}

.card-body {
    margin-bottom: 20px;
}